.print_pdf {
    margin: 0;
}

/*.print_pdf body {*/
    /*background-image: url("../images/pdf_bg.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.node-pet {*/
    /*background-image: url("../images/pdf_bg.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*width: 21cm;*/
    /*height: 29.7cm;*/
    /*padding:30px;*/
/*}*/

th {
    text-align: left; /* LTR */
    color: #006;
    border-bottom: 1px solid #ccc;
}

tr.odd {
    background-color: #ddd;
}

tr.even {
    background-color: #fff;
}

td {
    padding: 5px;
}

#menu {
    visibility: hidden;
}

#main {
    margin: 1em;
}

a:hover {
    color: #00f;
}

a:link img, a:visited img {
    border: 0;
}

.print-footnote {
    font-size: xx-small;
}

img.print-logo {
    border: 0;
}

.print-site_name {
}

.print-breadcrumb {
    font-size: x-small;
}

.print-title {
}

.print-submitted {
    font-size: small;
}

.print-created {
    font-size: small;
}

.print-taxonomy {
    text-align: right;
}

.print-taxonomy li {
    display: inline;
}

.print-content {
}

.print-hr {
    border: 0;
    height: 1px;
    width: 100%;
    color: #9E9E9E;
    background-color: #9E9E9E;
}

.print-message {
    border: medium dotted blue;
    padding: 1em;
}

.print-source_url {
    font-size: small;
}

.print-links {
    font-size: small;
}

.print-footer {
    text-align: center;
}
 #page-header, #toolbar {
     display: none;
 }

 body {
     padding: 0;
 }

body.toolbar-drawer {
    padding-top: 0 !important;
}