.print_pdf {
    margin: 0;
}

/*.print_pdf body {*/
    /*background-image: url("../images/pdf_bg.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.node-pet {*/
    /*background-image: url("../images/pdf_bg.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*width: 21cm;*/
    /*height: 29.7cm;*/
    /*padding:30px;*/
/*}*/

.field-name-field-primary-pet-character .field-name-body,
.field-name-field-pet .node-pet h2 {
    text-align: center;
}

.field-name-field-pet .node-pet h2::before {
    content: "Congratulations ";
    color: #336666;
}

.field-name-field-pet .node-pet h2::after {
    content: " is a";
    color: #336666;
}

/* Don't like the below */
.field-name-field-pet .node-pet .node-pet-character h2 {
    display: none;
}

.field-name-field-primary-score {
    background-color: #c8138a;
    height:15px;
    float:left;
}

.field-name-field-secondary-score {
    background-color: #fbea0d;
    height:15px;
    float:right;
}

.field-name-field-pet-cert-image img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.field-name-field-secondary-pet-character {
    padding: 10px;
    background: rgba(118, 139, 133, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#ffffff;
    font-size: 11px;
}

.field-name-field-secondary-pet-character a {
    color: #ffffff;
}

.field-name-field-primary-pet-character .field-name-body {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    text-align: left; /* LTR */
    color: #006;
    border-bottom: 1px solid #ccc;
}

tr.odd {
    background-color: #ddd;
}

tr.even {
    background-color: #fff;
}

td {
    padding: 5px;
}

#menu {
    visibility: hidden;
}

#main {
    margin: 1em;
}

a:hover {
    color: #00f;
}

a:link img, a:visited img {
    border: 0;
}

.print-footnote {
    font-size: xx-small;
}

img.print-logo {
    border: 0;
}

.print-site_name {
}

.print-breadcrumb {
    font-size: x-small;
}

.print-title {
}

.print-submitted {
    font-size: small;
}

.print-created {
    font-size: small;
}

.print-taxonomy {
    text-align: right;
}

.print-taxonomy li {
    display: inline;
}

.print-content {
}

.print-hr {
    border: 0;
    height: 1px;
    width: 100%;
    color: #9E9E9E;
    background-color: #9E9E9E;
}

.print-message {
    border: medium dotted blue;
    padding: 1em;
}

.print-source_url {
    font-size: small;
}

.print-links {
    font-size: small;
}

.print-footer {
    text-align: center;
}
