/*Navbar Styles*/
#navbar {
    display: none;
}

a.logo.navbar-btn.pull-left img {
    position: absolute;
    top: -5px;
    left: 0;
    height: 133px;
}

.navbar-default {
    padding-left: 333px;
    background-color: #003a79;
    border-color: #003a79;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f39834;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f39834;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f39834;
    background-color: #003a79;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #f39834;
    background-color: #003a79;
}

.navbar-default .navbar-toggle {
    border-color: #003a79;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #003a79;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #f39834;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f39834;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f39834;
        background-color: #003a79;
    }
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

/* Background Image*/

body {
    background: none;
}

#heart .well {
    border-radius: 10px;
    border: medium solid #f39834;
}

.page-personalities .views-field-field-pet-image {
    float: left;
    margin-right: 10px;
}

.page-personalities .views-row {
    float: left;
    clear: both;
}

#block-block-1 {
    width: 21cm;
    height: 29.7cm;
    position: absolute;
    top: 0;
    left: 0;
}

#block-block-1 img {
    width: 100%;
    height: 100%;
}

.node-type-survey-response .main-container {
    width: 21cm;
    height: 29.7cm;
}

.node-survey-response {
    background-image: url("../images/pdf_bg.png");
    background-size: contain;
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    width: 21cm;
    height: 29.7cm;
    padding: 30px;
}

.node-type-survey-response #block-system-main {

}

.footer {
    border: none;
}

.node-type-survey-response .nav-tabs {
    display: none;
}

.social-share-facebook {
    background-image: url("../images/fb_email_logo.png");
}

.social-share-googleplus {
    background-image: url("../images/gp_email_logo.png");
}

.social-share-twitter {
    background-image: url("../images/tw_email_logo.png");
}

.block-print-ui,
#block-block-2 {
    float: left;
}

.block-social-share {
    float: right;
}

.block-social-share a {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.page-node-955 .container {
    width: 100%;
}

.page-node-955 .col-sm-12 {
    padding: 2px;
}

.page-node-955 .field-item {
    height: 100%;
}

@font-face {
    font-family: 'Lobster Two';
src:url('../../../fonts/LobsterTwo-Italic.ttf');
    font-style: italic;
    font-weight: 600;
}


@font-face {
    font-family: 'Ubuntu';
    src:url('../../../fonts/Ubuntu-B.ttf');
    font-weight: 700;
}


.field-name-field-pet .node-pet h2 {
    font-family: 'Lobster Two';
    font-style: italic;
}

.field-name-field-primary-pet-character .field-name-body {
    font-family: 'Ubuntu';
    font-weight: 700;
}

.field-name-field-primary-pet-character .field-name-body,
.field-name-field-pet .node-pet h2 {
    text-align: center;
}

.field-name-field-pet .node-pet h2::before {
    content: "Congratulations ";
    color: #336666;
}

.field-name-field-pet .node-pet h2::after {
    content: " is a";
    color: #336666;
}

/* Don't like the below */
.field-name-field-pet .node-pet .node-pet-character h2 {
    display: none;
}

#left_bone {
    -webkit-print-color-adjust: exact;
    background-image: url("../images/red_bone.png");
    height: 31px;
    width: 22px;
    background-repeat: no-repeat;
    float: left;
}

.bone_layer {
    width: 400px;
    margin-right: 5px;
    float: left;
}

.bone_main_content {
    margin-left: 405px;
}

.views-field-field-primary-pet-character {
    margin-left: 25px;
    margin-bottom: -5px;
    display: inline-block;
}

.views-field-field-secondary-pet-character {
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-top: -37px;
}

.pr_inner {
    -webkit-print-color-adjust: exact;
    background-color: #c8138a;
    height: 15px;
    float: left;
    margin-top: 8px;
}

.sc_inner {
    -webkit-print-color-adjust: exact;
    background-color: #fbea0d;
    height: 15px;
    float: right;
    margin-top: 8px;
}

#right_bone {
    -webkit-print-color-adjust: exact;
    background-image: url("../images/yellow_bone.png");
    height: 31px;
    width: 22px;
    background-repeat: no-repeat;
    float: right;
}

.field-name-field-pet-cert-image img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.field-name-field-secondary-pet-character {
    -webkit-print-color-adjust: exact;
    padding: 10px;
    background: rgba(118, 139, 133, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 11px;
}

.field-name-field-secondary-pet-character a {
    color: #ffffff;
}

.field-name-field-primary-pet-character .field-name-body {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}