/*Navbar Styles*/
a.logo.navbar-btn.pull-left img {
    position:absolute;
    top:-5px;
    left:0;
    height:133px;
}
.navbar-default {
    padding-left:333px;
    background-color: #003a79;
    border-color: #003a79;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f39834;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f39834;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f39834;
    background-color: #003a79;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #f39834;
    background-color: #003a79;
}
.navbar-default .navbar-toggle {
    border-color: #003a79;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #003a79;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #f39834;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f39834;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f39834;
        background-color: #003a79;
    }
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

/* Background Image*/

body {
    background-image: url('/sites/all/themes/jpboots/cloudsbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


    background-color: #cccccc;
}

#heart .well {
    border-radius: 10px;
    border: medium solid #f39834;
}

.page-personalities .views-field-field-pet-image {
    float: left;
    margin-right: 10px;
}

.page-personalities .views-row {
    float: left;
    clear: both;
}